**/*.js
node_modules
build
**/*.jpeg
**/*.jpg
**/*.png
**/*.svg
.gitattributes
.gitignore
.huskyrc.json
.lintstagedrc.json
.prettierignore
.prettierrc
config-overrides.js
package.json
tsconfig.json
tsconfig.paths.json
yarn.lock
